* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img, input {
    display: block; /* To make img's align the same way as div's. */
}

ul {
    list-style: none; /* Remove dots. */
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none; /* Reset for link style. */
  color: inherit;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 6fr;
    grid-template-rows: 1fr 9fr;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 10;
    background-color: rgb(25, 146, 212);
    color:white;
    font-size:1.2rem;
    padding-right: 20px;
}

nav img {
    filter: invert(1) brightness(2);
}

img.nav {
    width: 1.2rem;
}

img.dashboard {
    width: 1.8rem;
}

.nav-top {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color:white;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
}

.nav-mid {
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.nav-bot {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 / 3;
    grid-row: 7 / 10;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.nav-link {
    display:flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px 50px;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    gap: 20px 100px;
    align-items: center;
    justify-items: left;
    padding: 20px;
}

.header-actions {
    display:grid;
    align-items: center;
    gap: 10px;
}

.header-actions .notifications {
    grid-column: 1 / 2;
}

.header-actions .avatar {
    grid-column: 2 / 3;
}

.header-actions .username {
    grid-column: 3 / 4;
}

button.file-control {
    background-color: rgb(25, 146, 212);
    color:#FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    
}

#input-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
}

.search {
    grid-column: 1 / 2;
}

input {
    grid-column: 2 / 3;
    border-radius: 12px;
    border: none;
    background-color: rgb(226, 232, 240);
    padding: 6px
}

.welcome-container, .header-actions {
    display:grid;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.welcome-container .avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.welcome-container .greeting {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.welcome-container .username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.file-control-actions {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

main {
    display: grid;
    /* grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-column: 2 / 9;
    grid-row: 4 / 9; */
    background-color: rgb(226, 232, 240);
    gap: 10px;
    padding: 20px;
}

.projects-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    gap: 10px;
}

.projects-container>.section-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    border-left: 7px solid rgb(240, 180, 41);
    padding: 10px;
}

.card-actions-container {
    display:grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    gap:10px;
}

.card-actions-bookmark {
    grid-column: 2 / 3;
}

.card-actions-watch {
    grid-column: 3 / 4;
}

.card-actions-fork {
    grid-column: 4 / 5;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending-container {
    display:grid;
    grid-template-rows: auto 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 10px;
}

.trending-container .section-title {
    grid-column: 1 / 3;
}

.trending-container .user-container-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.trending-container .user-container-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}
.trending-container .user-container-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

.trending-container .user-container-4 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 7 / 9;
}

.trending-container .small-avatar {
    width: 55px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 50px;
}

.trending-card {
    background-color: #FFFFFF;
    display:grid;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.trending-card * {
    font-size: 0.8rem;
    align-items: center;
}

.announcements-container {
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.announcements-card {
    background-color: #FFFFFF;
    display:grid;
    padding: 20px;
    border-radius: 10px;
}

.announcement-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.announcement-subtitle {
    font-size: 0.6rem;
}

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
}

img.avatar {
    border-radius: 50px;
}

footer {
    grid-column: 2 / 3;
}

.card-subtitle, .announcement-subtitle, .trending-card .username {
    color: #636363;
}
